/* * {
    border: 1px solid red;
} */

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login-view,
#register-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-image {
    max-width: 320px;
}