@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: Inter;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 5px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-image {
    max-width: 320px;
}